.movie-details{
    width:280px;
    height:150px;
    display: flex;
    align-items: end;
    border-radius: 10px;
    margin: 10px 25px 5px 0px;
    
}

.movie-title{
    background-color: rgb(33, 30, 30,0.8);
    width: 280px;
    padding: 8px 3px;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
    
}