.logo{
    margin: 10px;
    display: flex;
    align-items: center;

}

.img{
 width: 45px;
 height: 45px;
 border-radius: 10px 0px 0px 10px;
}

.logo_title{
    color: black;
    background-color: white;
    padding: 12px 10px;
    font-size: 18px;
    border-radius: 0px 10px 10px 0px;
}